<div class="navbar navbar-expand-sm navbar-light mynavbar">
  <a class="navbar-brand" href="#">
    <img class="avatar" src="https://leniglnn.github.io/profile/images/lena.png" />
  </a>
  <h3 class="menu" style="font-style: italic;">Welcome to Lena's cocktail page!</h3>
  <div >
    <%= link_to 'Add a new cocktail', new_cocktail_path, class:"nounderline menu" %>
    <%= link_to 'Back to all cocktails', root_path, class:"ml-3 nounderline menu" %>
  </div>
</div>
